.Rproj.user
.Rhistory
.RData
data-raw/isabella-kayath/bases
data-raw/luiz-estevam/bases
data-raw/jurimetria-usp/bases
data-raw/jurimetria-usp/rds
data-raw/varas-empresariais-frederico/bases
data-raw/anatocismo/tjsp
data-raw/anatocismo/tjce
data-raw/custodia-fabio/dados
data-raw/custodia-fabio/bases_finais
.Rdata
.httr-oauth
.DS_Store
