.Rproj.user
.Rhistory
.RData
data-raw/isabella-kayath/bases
data-raw/luiz-estevam/bases
data-raw/jurimetria-usp/bases
data-raw/jurimetria-usp/rds
data-raw/varas-empresariais-frederico/bases
data-raw/anatocismo/tjsp
data-raw/anatocismo/tjce
data-raw/custodia-fabio/dados
data-raw/custodia-fabio/bases_finais
data-raw/criminal-candidatos-g1/prefeitos
data-raw/criminal-candidatos-g1/vice_prefeitos
data-raw/criminal-candidatos-g1/vereadores
data-raw/banco-pan/cpopg
data-raw/banco-pan/cposg
data-raw/conflito-competencia/cjsg_trib_competencia/
data-raw/conflito-competencia/cjsg_trib_conflito/
data-raw/conflito-competencia/cjsg_trib_total/
data-raw/prop-industrial/dados-brutos/
data-raw/lucro-cessante/bases/
data-raw/lucro-cessante/xlsx/
.Rdata
.httr-oauth
.DS_Store
